.website {
    background-color: blueviolet;
}

.myPhoto {
    height: 500px;
    width: 300px;
}

.flex-container {
    display: flex;
    background-color: brown;
    height: 200px;
    flex-direction: row-reverse;
}

.flex_col {
    background-color: aqua;
    margin: 10px;
}

.grid-container {
    display: grid;
    background-color: blueviolet;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.grid_item {
    background-color: aqua;
    margin: 10px;
}

.flex-containers {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:600px) {
    .flex-containers {
        display: inline-flex;
        flex-direction: column;
    }
}